.git
.gitignore
*.env
*.local
.DS_Store 
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.env/
pip-log.txt
pip-delete-this-directory.txt
node_modules/
build/
dist/
*.egg-info/
.eggs/
*.egg
*.log
*.out
.coverage
htmlcov/
.cache/
pytest_cache/
Dockerfile*
docker-compose*.yml
