# Core TUI framework
textual>=3.2.0

# Syntax highlighting
tree-sitter>=0.24.0
tree-sitter-languages>=1.10.2 
tree-sitter-cpp>=0.23.4 
tree-sitter-javascript>=0.23.1
tree-sitter-python>=0.23.6
tree-sitter-java>=0.23.5
textual[syntax] # check

requests 
qrcode 
pillow
rich_pixels 
httpx 

# Optional dependencies
rich>=13.9.4       
typing-extensions>=4.12.2  
